div[data-layout-section="true"] {
  display: flex;
}

div[data-extension-key="block-secret"] {
  padding: 20px;
  border: 4px dashed;
  margin: 20px;
  border: 2px dashed #802dcc;
  background: rgba(128,45,204,.1);
}

.lk-icon {
  background: url('../assets/icons/lk-white.svg') no-repeat center;
  background-color: #000;
  background-size: 20px 10px;
  background-position: center 2px;
  display: inline-block;
  position: relative;
  top: 3px;
  width: 30px;
  height: 15px;
  margin: 0 2px;
  border-radius: 4px;
  box-shadow: 0 0 3px #fff;
}

.lk-progress-track {
  position: relative;
  width: 100%;
  height: 20px;
  background: rgba(0, 0, 0, 0.25);
}

.lk-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3a91bb;
}

.sidebar-tab .directory-footer #lk-import {
  flex: 100%;
  width: 100%;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    border: 0;
    display: inline-block;
    width: 24px;
    height: auto;
    margin-right: 5px;
  }
}